<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- DataBase connection settings -->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:mydb.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <!-- Sqlite Dialect -->
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>

        <!-- Echo all executed sqlite to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- update the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="DAO.UserDAOImpl"/>

    </session-factory>
</hibernate-configuration>